@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
        width: 6px;
        height: 4px;
        border-radius: 6px;
    }
    .scrollbar-custom::-webkit-scrollbar-corner {
        background: transparent;
    }
    .scrollbar-custom::-webkit-scrollbar-thumb {
        border-radius: 6px;
        cursor: default;
        background: #c3c3c3;
    }

    @property --var1 {
        syntax: "<color>";
        inherits: true;
        initial-value: white;
    }

    .scrollbar-transition {
        overflow-y: scroll;
        transition: --var1 0.2s;
    }

    .scrollbar-transition:hover {
        --var1: #c3c3c3;
    }

    .scrollbar-transition::-webkit-scrollbar {
        background: white;
        width: 6px;
    }

    .scrollbar-transition::-webkit-scrollbar-thumb {
        background: var(--var1);
        border-radius: 4px;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .scrollbar-hidden::-webkit-scrollbar-corner {
        background: transparent;
    }
    .scrollbar-hidden::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .custom-scrollbar .cm-scroller {
        /* scrollbar-width: thin; */
        scrollbar-color: #e3e3e3 #f9f9f9;
    }

    .ql-container {
        border: none !important;
        font-family: "Arial", sans-serif !important;
        font-size: 18px !important;
    }

    .ͼ1 {
        outline: none !important;
        /* background: #f9f9f9 !important; */
    }
}
